html { 
  background:  url(https://media.giphy.com/media/3oxHQDX0bmnhyYrFwQ/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
}
body {
  height: 100%;
  background:  url(https://media.giphy.com/media/3oxHQDX0bmnhyYrFwQ/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
}


.rainbow-box {
    
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1; 
     
    
  }


    
.gif-style {
    width:50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
}

.theme-style {
    width: 280px;
    height: 145px;
    margin: 2px auto;
    display: block;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
h1{

    font-family: 'Permanent Marker', cursive;
    display: block;
    text-align: center;
    font-size: 60px;

  }

 